<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset password</title>
		<style>
      p {
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      a {
        text-decoration: none;
        padding: 12px 25px;
        background-color: #444DF2;
        color: white;
        border-radius: 25px;
        font-weight: 800;
      }
    </style>
	</head>
	<body>
		<p>
			Hallo {{ firstname }},
      <br><br>
      wir haben eine Anfrage erhalten, das Passwort für deinen Account bei DABubble
			zurückzusetzen. 
      <br>
      Wenn du diese Anfrage gestellt hast, klicke bitte auf den folgenden Link, um ein neues
			Passwort festzulegen:
      <br><br><br>
      <a href="{{ reset_link }}">Reset Passwort</a>
      <br><br><br>
      Dieser Link ist aus Sicherheitsgründen nur für eine begrenzte Zeit gültig. 
      <br>
      Wenn du keine Zurücksetzung angefordert hast, kannst du diese E-Mail einfach	ignorieren – dein Passwort bleibt unverändert.
      <br><br>
      Bleib sicher!
      <br><br>
      Dein DABubble-Team
      <br><br>
      <img src="https://daniel-lehmann.dev/assets/dabubble-email.png" alt="">
		</p>
	</body>
</html>
