<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="refres" content="5;url=https://dabubble.daniel-lehmann.dev/login/" />
		<title>Activation complete</title>
		<style>
			p {
				font-family: Georgia, 'Times New Roman', Times, serif;
			}

			a {
				text-decoration: none;
				padding: 12px 25px;
				background-color: #444df2;
				color: white;
				border-radius: 25px;
				font-weight: 800;
			}
		</style>
	</head>
	<body>
		<p>
			Hallo {{ firstname }},
			<br /><br />
			deine E-Mail-Adresse wurde erfolgreich bestätigt und dein Konto ist jetzt aktiv.
			<br />
			Du wirst in <span id="countdown"></span> Sekunden automatisch weitergeleitet... Falls die Weiterleitung
			nicht funktioniert, klicke bitte hier: <br /><br /><br>
			<a href="https://dabubble.daniel-lehmann.dev/login/">Zum Login</a>
			<br /><br /><br>
			Vielen Dank, dass du Teil von DABubble bist!
			<br /><br />
			Viel Spaß beim Entdecken!
      <br><br><br>
      <img src="https://daniel-lehmann.dev/assets/dabubble-email.png" alt="dabubble-logo">
		</p>

		<script>
			let counter = 5;
			function countDown() {
				span = document.getElementById('countdown').innerHTML = counter;
				setTimeout(() => {
					if (counter > 0) {
						counter--;
						countDown();
					}
				}, 1000);
			}
			window.onload(countDown());
		</script>
	</body>
</html>
